.input-field {
  width: 79%;
  margin: 8px 0;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-todo-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 19%;
  margin: 8px 0px 8px 5px;
  cursor: pointer;
}
