.todo-list {
  border: 2px solid black;
  border-radius: 5px;
  width: 75%;
  padding: 30px;
  margin: 20px;
  display: inline-block;
}

.todo-list h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.all, .active, .done, .toggle-all-btn{
  background-color: gray;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  margin: 0px 2px;
  cursor: pointer;
}

.footer {
  display: flex;
}

.footer .todo-left {
  margin-right: auto;
}

/* .all-active-done {} */

.footer .toggle-all {
  margin-left: auto;
  text-align: right;
}

.delete-icon {
  padding-right: 4px;
  font-size: 15px;
}

.remove-all-done-btn {
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 4px;
  margin: 4px;
  font-size: default;
  cursor: pointer;
}
