.todo-list {
  border: 2px solid black;
  border-radius: 5px;
  width: 75%;
  padding: 30px;
  margin: 20px;
  display: inline-block;
}

.todo-list h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.remove-all-done-btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
/*
.footer {}

.delete-icon {
  padding: 4px;
  font-size: default;
}

.remove-all-done-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-size: default;
  margin: 8px;
  text-align: start;
  cursor: pointer;
}*/
